/*#0070d2*/

.THIS.main {
   background-color: #212121;
   height:100vh; /*viewport height*/
   width: 100%;
}

.THIS .header {
    margin-bottom: 15px;
}

.THIS .empty-space {
    height: 100px;
}

.THIS .pulse {
    height: 100px;
    width: 280px;
    overflow: hidden;
    position: absolute;
    top: -350px;
    bottom: 0;
    left: 45%;
    margin: auto;
    visibility: visible;
    z-index: 9999;
}

.THIS .pulse:after {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse linear infinite;
    -moz-animation: 2s pulse linear infinite;
    -o-animation: 2s pulse linear infinite;
    animation: 2s pulse linear infinite;
    clip: rect(0, 0, 100px, 0);
}

.THIS .pulse:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;
}

@-webkit-keyframes pulse {
    0% {clip: rect(0, 0, 100px, 0);
    opacity: 0.4;}
    4% {clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;}
    15% {clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;}
    20% {clip: rect(0, 300px, 100px, 0);
    opacity: 1;}
    80% {clip: rect(0, 300px, 100px, 0);
    opacity:0;}
    90% {clip: rect(0, 300px, 100px, 0);
    opacity: 0;}
    100% {clip: rect(0, 300px, 100px, 0);
    opacity:0;}
}

@keyframes pulse {
    0% {clip: rect(0, 0, 100px, 0);}
    4% {clip: rect(0, 66.66667px, 100px, 0);}
    15% {clip: rect(0, 133.33333px, 100px, 0);}
    20% {clip: rect(0, 300px, 100px, 0);
    opacity:1;}
    80% {clip: rect(0, 300px, 100px, 0);
    opacity:0;}
    90% {opacity: 0;}
    100% {clip: rect(0, 300px, 100px, 0);
    opacity:0;}
}

.THIS .hiddenDiv {
    visibility: hidden;
}

.THIS .placeholder {
    color: #bdbdbd;
    font-family: Courier, monospace;
    font-size: 30px;
    text-align: center;
}

.THIS .dot {
    display: inline;
    animation: blinking-dot 1s step-end infinite;
}

@keyframes blinking-dot {
  from, to { color: transparent; }
    50% { color: #bdbdbd; }
}

.THIS .slds-input {
    background-color: #212121;
    border: none;
    color: #bdbdbd;
    font-family: Courier, monospace;
    font-size: 30px;
    text-align: center;
    height: 50px;
}

.THIS ::-webkit-input-placeholder {
    color: #bdbdbd;
    font-family: Courier, monospace;
    font-size: 20px;
}

.THIS .translations {
    padding-left: 20%;
    color: #bdbdbd;
    line-height: 1.5em;
    font-family: Courier, monospace;
    font-size: 30px;
    width: 90%;
}

.THIS .translationItems {
    display: inline-block;
    text-align: center;
}

.THIS .uiInput--checkbox input {
    margin: auto;
    margin-top: 15px;
    margin-left: 5px;
    background: transparent;
    display: inline;
    float: left;
}

.THIS .uiInputCheckbox span{
    color: #bdbdbd;
    padding-left: 5px;
}

.THIS .remember {
    text-align: right;
    font-size: 20px;
    width: 40%;
    margin-left: 60%;
}

.THIS .remember:hover {
    color: #0070d2;
    cursor: pointer;
}

.THIS .slds-modal__close {
    z-index: 999;
    position: absolute;
    top: 250px;
    right: 28%;
}

.THIS .menu-icon {
    padding-left: 10px;
    padding-top: 10px;
    width: 40px;
}

.THIS .menu-icon:hover {
    cursor: pointer;
}

.THIS .menu-strip {
    width: 35px;
    height: 5px;
    background-color: #bdbdbd;
    margin: 6px 0;
}

.THIS .menu-strip:hover {
    background-color: #0070d2;
}

.THIS .menu-background {
    position: absolute;
    top: 130px;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 100;
}

.THIS .menu-content {
    z-index: 101;
    height: 100px;
    width: 150px;
    background-color: #212121;
    position: relative;
}

.THIS .menu-item {
    height: 50px;
    color: #bdbdbd;
    line-height: 1.5em;
    font-family: Courier, monospace;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #bdbdbd;
    cursor: pointer;
}

.THIS .menu-item-colored {
    height: 50px;
    color: #bdbdbd;
    line-height: 1.5em;
    font-family: Courier, monospace;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #0070d2;
    border-bottom: 1px solid #bdbdbd;
    cursor: pointer;
}

.THIS .menu-item:hover {
    background-color: #666666;
    transition: .5s;
}

.THIS .menu-container {
    width: 140px;
    transition: 3s;
}

.THIS .modalText {
    text-align: center;
    font-size: 20px;
    font-family: Courier, monospace;
}

.THIS .slds-modal__header {
    text-align: center;
    font-size: 20px;
    font-family: Courier, monospace;
    color: #bdbdbd;
    background-color: #212121;
}

.THIS .custom-close {
    left: 95%;
    top: 15%;
}

.THIS .search {
    color: #bdbdbd;
    font-family: Courier, monospace;
    font-size: 15px;
    text-align: right;
    margin: 5px;
    width: 6%;
}

.THIS .vocabulary {
    background-color: #212121;
    height:100vh; /*viewport height*/
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
}

.THIS .vocabulary::-webkit-scrollbar {
    width: 1em;
}

.THIS .vocabulary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.THIS .vocabulary::-webkit-scrollbar-thumb {
    background-color: #666666;
    outline: 1px solid #373737;
}

.THIS .voc-words {
    font-family: Courier, monospace;
    font-size: 20px;
    color: #bdbdbd;
    text-align: right;
    padding-right: 10px;
}

.THIS .voc-translations {
    font-family: Courier, monospace;
    font-size: 20px;
    color: #bdbdbd;
    text-align: left;
    padding-left: 10px;
}

.THIS .voc-edit {
    font-family: Courier, monospace;
    font-size: 20px;
    color: #0070d2;
    text-align: right;
    padding-right: 10px;
}

.THIS .voc-edit p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.THIS .word-to-repeat {
    color: #bdbdbd;
    text-align: center;
    font-size: 30px;
    font-family: Courier, monospace;
}


.THIS .result {
    color: #bdbdbd;
    text-align: center;
    font-size: 30px;
    font-family: Courier, monospace;
}

.THIS .icons-container {
    /*margin-left: 65%;
    margin-top: 10px;*/
    width: 40%;
    margin-left: 30%;
    margin-top: 10px;
    text-align: right;
    display: inline-block;
}

.THIS .skip-button svg{
    fill: #bdbdbd;
}

.THIS .skip-button:hover svg{
    fill: #0070d2;

}







/*.THIS .btn:hover {
    position: relative;
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
}

.THIS .repeatButton:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
    text-decoration: underline;
}

.THIS .repeatButton span:hover {
    position: relative;
    transform: scale(1.1);
    z-index: 1;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
}

@keyframes anim {
    from {left:-100%;}
    to {left:0;}
    from {height:0px;
    width: 0px}
    to {height:500px;
    width: 500px}
}*/